
body {
    background-color: darkgreen;
}

#board {
    width: 440px;
    height: 440px;
    border: 1px solid rgb(240, 233, 233);
    background-color: rgb(118, 184, 118);
    position: relative;
}

#apple {
    background-color: rgb(196, 20, 20);
    width: 20px;
    height: 20px;
    position: absolute;

}

#head {
    width: 20px;
    height: 20px;
    background-color: rgb(233, 221, 221);
    border: 1px solid rgb(228, 165, 71);
    position: absolute;
    left: 400px;
    top: 400px;
}

#score {
    width: 60px;
    height: 60px;
    font-size: 200%;
    text-align: center;
    display: block;
    position: absolute;
    top: 460px;
    left: 5px;
}

#counter {
    width: 60px;
    height: 60px;
    font-size: 200%;
    text-align: center;
    display: block;
    position: absolute;
    top: 460px;
    left: 80px;
}


.snake{
    width: 20px;
    height: 20px;
    background-color: rgb(233, 221, 221);
    position: absolute;
}